- name: Wait for cloud-init
  command: cloud-init status --wait
  changed_when: false

- name: Install K3s server (Init)
  shell: curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_version }}" sh -s - server --cluster-init
  args:
    creates: /usr/local/bin/k3s

- name: Wait for K3s to start
  wait_for:
    port: 6443
    host: 127.0.0.1
    timeout: 300
    delay: 5

- name: Wait for Node Token
  wait_for:
    path: /var/lib/rancher/k3s/server/node-token

- name: Fetch Node Token
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token_base64

- name: Get private IP address
  shell: hostname -I | awk '{print $1}'
  register: private_ip
  changed_when: false

- name: Set Token Fact
  set_fact:
    k3s_token: "{{ k3s_token_base64['content'] | b64decode | trim }}"
    k3s_url: "https://{{ private_ip.stdout | trim }}:6443"
