---
- name: Upgrade Rancher
  hosts: init
  become: true

  tasks:
    - name: Add Rancher Prime Helm repo
      command: /usr/local/bin/helm repo add rancher-prime https://charts.rancher.com/server-charts/prime
      when: {{.Prime}}

    - name: Add Rancher Latest Helm repo
      command: /usr/local/bin/helm repo add rancher-latest https://releases.rancher.com/server-charts/latest
      when: not {{.Prime}}

    - name: Update Helm repos
      command: /usr/local/bin/helm repo update

    - name: Upgrade Rancher (Prime)
      command: >
        /usr/local/bin/helm upgrade --install rancher rancher-prime/rancher
        --namespace cattle-system
        --set hostname={{.Hostname}}
        --set replicas={{.Replicas}}
        --set bootstrapPassword={{.BootstrapPassword}}
        --set auditLog.enabled={{.AuditLog}}
        --set auditLog.level={{.AuditLogLevel}}
        --set rancherImage=registry.suse.com/rancher/rancher
        --set "extraEnv[0].name=CATTLE_DEBUG"
        --set "extraEnv[0].value=true"
        --set "extraEnv[1].name=RANCHER_VERSION_TYPE"
        --set "extraEnv[1].value=prime"
        --set "extraEnv[2].name=CATTLE_BASE_UI_BRAND"
        --set "extraEnv[2].value=suse"
        --version {{.RancherVersion}}
        --kubeconfig {{.Kubeconfig}}
        --create-namespace
      when: {{.Prime}}

    - name: Upgrade Rancher (Latest)
      command: >
        /usr/local/bin/helm upgrade --install rancher rancher-latest/rancher
        --namespace cattle-system
        --set hostname={{.Hostname}}
        --set replicas={{.Replicas}}
        --set bootstrapPassword={{.BootstrapPassword}}
        --set auditLog.enabled={{.AuditLog}}
        --set auditLog.level={{.AuditLogLevel}}
        --version {{.RancherVersion}}
        --kubeconfig {{.Kubeconfig}}
        --create-namespace
      when: not {{.Prime}}

    - name: Wait for Rancher rollout
      command: >
        {{.Kubectl}} rollout status deploy/rancher
        -n cattle-system --timeout=600s
        --kubeconfig {{.Kubeconfig}}
